* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the login page container */
  .login-page {
 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the login container */
  .login-container {
    background: rgba(187, 189, 187, 0.8); /* Use an rgba background for opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    width: 400px;
    text-align: center;
  }
  
  /* Style the login form header */
  .login-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style form fields and labels */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Style the login button */
  .login-button {
    background: linear-gradient(to bottom, #031343, #64b5ee);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-button:hover {
    background: linear-gradient(to bottom, #031343, #64b5ee);
  }
  
  /* Additional styling for the form footer */
  .form-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }